# =========================
# Operating System
# =========================

.DS_Store
Thumbs.db
desktop.ini

# =========================
# Adobe Premiere Pro
# =========================

Adobe Premiere Pro Auto-Save/
Media Cache/
Media Cache Files/

# =========================
# Temporary Files
# =========================

tmp/
temp/
.cache/

# =========================
# Visual Studio Code
# =========================

.vscode/

# =========================
# JetBrains
# =========================

.idea/

# =========================
# Logs
# =========================

*.log

# =========================
# Backup Files
# =========================

*.bak
*.tmp

# =========================
# Render Cache
# =========================

exports/temp/
